body{
	background-color:#f4f4f4;
	color: #555555
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	
	line-height:1.6em;
	margin:0;
	background-image:url('/images/SWbground.png'),opacity:0.7, background
}
header{
	background-image:url('/images/SWbground.png');
	background-repeat: no-repeat;
	background-size: cover;
	width:100%;
	height:100vh;
	background-position:center center;
	position: relative;
	
	
}
a{
	text-decoration:none;
	color:#000;
}
a:hover{
	color:red;
}
a:active{
	color:green;
}

.container{
	width:80%;
	margin:auto;
}
.p-box{
	width:800px;
	height:500px;
	border:1.0px solid #ce5548;
	position:relative;
	background-repeat: no-repeat;
	background-position:100px 200px;
	background-position:center top;
}
.p-box img{
	position:absolute;
	top:50px;
	left:75px;
}
.box-1{
	background-color:#84bced;
	color:#45418c;
	
	border-right:2.5px #ce5548 solid;
	border-left:2.5px #ce5548 solid;
	border-top:2.5px #ce5548 solid;
	border-bottom:2.5px #ce5548 solid;
	
	padding-top:15px;
	padding-bottom:20px;
	padding-left:20px;
	padding-right:20px;
	
	/*margin:20px 0;*/
}

.box-1 h1{
	font-family: Tahoma;
	font-weight: 800;
	font-style:italic;
	Letter-spacing:0.2em;
	word-spacing:.1em;
}

.box-2{
	border:2.5px #ce5548 solid #ccc;
	padding:20px;
	margin:20px 0;
}
.categories{
	border:1px #ccc solid;
	padding:10px;
	border-radius:15px;
	
}
.categories h2{
	text-align:center;

}
.categories ul{
	padding:0;
	padding-left:20px;
}
.categories li{
	padding-bottom:6px;
	border-bottom:dotted 1px #333;
	/*list-style-image: url('/images/checkmark.png');*/
	
}
